<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <welcome-file-list>
        <welcome-file>/jsp/index.jsp</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>place</param-name>
        <param-value>Shop</param-value>
    </context-param>

    <servlet>
        <servlet-name>ItemsPage</servlet-name>
        <jsp-file>/jsp/itemsPage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ItemsPage</servlet-name>
        <url-pattern>/items</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>servlets.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>servlets.AddToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/addCart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Categorize</servlet-name>
        <servlet-class>servlets.CategoryItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Categorize</servlet-name>
        <url-pattern>/categorize</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Pay</servlet-name>
        <servlet-class>servlets.PayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Pay</servlet-name>
        <url-pattern>/pay</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConfirmationPage</servlet-name>
        <jsp-file>/jsp/confirmationPage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmationPage</servlet-name>
        <url-pattern>/confirm-info</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Confirm</servlet-name>
        <servlet-class>servlets.ConfirmServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Confirm</servlet-name>
        <url-pattern>/confirm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
</web-app>